$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


body {
    background-color: #ECECEC;
    padding: 0;
}

.about { 

	h1, h2, h3, h4 {
		margin:0;
		padding:0;
		margin-bottom: 20px;
		margin-top:50px;
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 800px;
    }

}