

body {
    padding: 0;
    background-color: #e5e5e5;
}

#error-messages {
    color: #a94442;
}
.jumbotron {

    padding: 0;
    margin-top: 33px;
}

.btn, input {
    border-radius: 3px;
}


.marketing {
    

    h4 {
        color: #3498db;
        padding-left: 25px;
    }
}
.container {
    
    background-color: white;
    margin-top: 0; 
}

.form-control {

    background-color: #ececec;
    height: 45px;
}


.box {

    background-color: #ececec;
    height: 30px;
    padding: 0;
}

.submit-form {

    padding-top: 30px;
}


