

body {
    padding: 0;
    background-color: #e5e5e5;
}
.jumbotron {

    padding: 0;
    margin-top: 33px;
}

.btn, input {
    border-radius: 3px;
}


.marketing {
    

    h4 {
        color: #3498db;
        padding-left: 25px;
    }
}
.container {
    
    background-color: white;
    padding: 0px 0px 20px 0px;
}

.form-control {

    background-color: #ececec;
    height: 45px;
}



.adress {

    .btn-group {

        .btn {

            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }

    }
}
.expand {

    height: 30px;
    background-color: #e5e5e5;

}

.buttons {

     .btn-marge {
        padding-bottom: 45px;
        padding-left: 0;
        padding-right: 0;
    }
}

.btn-lg {

    font-size: 16px;
}
