
<script src="https://code.angularjs.org/1.6.3/angular-route.min.js.map"></script>

<div class="container about">

	<h1 ng-init="title='Angular'">{{title}}</h1>

    <!-- EXERCICES -->
    <pre>{{vm.toto}}</pre>
    <input name="name" ng-model="vm.toto.name" type="text" placeholder="name">
    <input name="rgzyfgze" ng-model="vm.toto.age" type="text" placeholder="age">
    <input name="rgzyfgze" ng-model="vm.toto.metier" type="text" placeholder="metier">
    Hello, my name is {{vm.toto.name}} and i'm {{vm.toto.age}} years old.
    <!-- /EXERCICES -->

	
	<h2>Les Directives</h2>
	

	<h3>ngModel</h3>
    <input type="text" ng-model="task">
	{{task}}


	<h3>ngInit et ngRepeat</h3>
	<div ng-init="users=['Marc', 'Jean', 'John']"></div>
	{{users}}

	<ul>
		<li ng-repeat="user in users">{{user}}</li>
	</ul>
	

	<h2>Les filtres</h2>

	<h4>Exemple 1</h4>
	<ul>
		<!-- exemple : uppercase est un filtre qui met la majuscule -->
		<li ng-repeat="user in users">{{user | uppercase}}</li> 

		<!-- filter : permet de filtrer plusieurs choses, dans l'exemple suivant, cela permet de filtrer tout les prénoms ayant " M " dedans dans le tableau. -->
		{{users | filter: 'a'}}
	</ul>

	<h4>Exemple 2</h4>
	<input type="text" ng-model="query">
	<div ng-init="users=['Marc', 'Jean', 'John']"></div>
	<ul>
		<li ng-repeat="user in users | filter:query">{{user}}</li>
	</ul>
		
	
	<h2>Controller & Scope</h2>

	<div ng-controller="AboutCtrl">
		<div ng-repeat="comment in comments">
			<p>
				<strong>{{comment.username}}</strong><br>
				{{comment.content}}
			</p>
		</div>
	</div>
	<hr>
	<h2>Exemple de ng Required</h2>
	<div>
		<p></p>
		<input type="text" name="test" ng-model="user.test" ng-required="!user.test2">
		<input type="text" name="test2" ng-model="user.test2" ng-required="!user.test">
	</div>
</div>


 