<h2>Exercice 2</h2>
<pre>Je souhaite afficher une liste de fichiers PDF, pouvoir la trier via un champ de 
recherche et un menu latéral permettant de les trier par catégorie.

Les fichiers sont dans 'files/exercice2/'.

Ils doivent être séparés en catégorie :
	- Catégorie 'Cours': fichiers 1 à 5
	- Catégorie 'Exercices': fichiers 6 à 15
	- Catégorie 'Evaluations': fichiers 16 à 20
	
Objectif : Apprendre le ngRepeat et confirmer l'apprentissage du ngModel.

Consigne : 
	- Donner un nom fictif aux fichiers.
	- Créer un objet JSON dans le controller pour gérer la liste des fichiers.

Le design est en expression libre.
</pre>