<div ng-controller="Exo3Ctrl">

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Exercice 3 : Todo list</h1>
			</div>	
		</div>
	</div>

	<div class="wrap-form">
		<form id="todo-form" ng-submit="addTodo()">
			<input type="text" id="new-todo" placeholder="Que devez-vous faire ?" ng-model="newTodo">
		</form>

		<div ng-show="todos.length">
			<ul id="todo-list">
				<li ng-repeat="todo in todos" ng-class="{completed: todo.completed}">
					<div class="view">
						<input type="checkbox" class="mark" ng-model="todo.completed">
						<span>{{todo.title}}</span>
						<span class="close" ng-click="removeTodo(todo)">X</span>
					</div>
				</li>
			</ul>
			<input type="checkbox" id="mark-all" ng-model="allChecked" ng-click="markAll(allChecked)">
			<label for="mark-all" class="btn btn-info">Tout cocher</label>
			<button class="btn btn-danger" ng-click="clearCompletedTodos()">Supprimer les tâches cochées</button>
		</div>
	</div>
</div>