<div class="jumbotron">
  <h1>'Why so serious'!</h1>
  <p class="lead">
    <img src="images/wolwo2.jpg" alt="I'm Yeoman"><br><br>
    Life is a joke.
  </p>
</div>

  
<form  class="form-horizontal" name="form" >

<div class="expand"></div>

    <!--CONTRAT-->

    <div class="container">
        <div class="marketing">
          <h4>Contrat</h4>  
        </div>
        <hr />

        <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="form-group row">
                    <div class="col-xs-12" >
                        <input type="text" class="form-control"  name="NumberContract"  placeholder="Numéro de contrat">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12" >
                        <select type="text" class="form-control" name="SocietyName"  placeholder="Nom de la société" >
                            <option>Nom de la société</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12" >
                        <input type="text" class="form-control" name="IdVendeur"  placeholder="Identifiant vendeur" >
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12" >
                        <input type="text" class="form-control" name="DateSignup"  placeholder="Date de signature du contrat (JJ/MM/AAAA)" >
                    </div>
                </div> 
        </div>     
    </div>

    <!--COORDONNES-->
    <div class="expand"></div>
    <div class="container">
        
        <div class="marketing">
            <h4>Coordonnées</h4>
            <hr />
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                
                <div>
                    <div class="form-group row">
                        <div class="col-xs-12" data-toggle="buttons">
                            <label class="sr-only">Choisir votre situation</label>
                            <div class="btn-group btn-group-justified civility" data-toggle="buttons">
                                <label class="btn btn-info active">
                                    <input type="radio">
                                    Nouveau client
                                </label>
                                
                                <label class="btn btn-info">
                                    <input type="radio">
                                    Déjà client
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12" data-toggle="buttons">
                            <label class="sr-only">Choisir votre situation</label>
                            <div class="btn-group btn-group-justified civility" data-toggle="buttons">
                                <label class="btn btn-info active">
                                    <input type="radio">
                                    Nouveau client
                                </label>
                                
                                <label class="btn btn-info">
                                    <input type="radio">
                                    Déjà client
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="form-group row">
                    <div class="col-xs-12" >
                        <input type="text" class="form-control"  name="lastname"  placeholder="Nom">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-12" >
                        <input type="text" class="form-control" name="firstname"  placeholder="Prénom" >
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-12" >
                        <input type="date" class="form-control" name="date"  placeholder="Date de naissance (08/08/1983)" >
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-12" >
                        <select type="text" class="form-control" name="Dpt"  placeholder="Département de naissance" >
                            <option>Département de naissance</option>
                        </select>
                    </div>
                </div> 






                    <div class="form-group row">
                        <div class="col-xs-12" >
                            <input type="text" class="form-control" name="mobile"  placeholder="Téléphone mobile" >
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12" >
                            <input type="texte" class="form-control" name="fixe"  placeholder="Téléphone fixe" >
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12" >
                            <input type="email" class="form-control" name="email"  placeholder="Email du contact" >
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12" >
                            <input type="text" class="form-control" name="pi"  placeholder="Pièce d'identité de l'acheteur" >
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12" >
                            <input type="text" class="form-control" name="numberId"  placeholder="Numéro de la pièce d'identité" >
                        </div>
                    </div>
                 


             </div> 
        </div>   
    </div>

     <!--TEL-->
    <div class="expand"></div>
    <div class="container">
        
        <div class="marketing">
            <h4>Numéro de téléphone</h4>
            <hr />
        </div>

        <div class="col-sm-12 adress box">
            <div class="col-xs-12 col-md-8 col-md-offset-2 buttons">
                <div class="btn-group btn-group-justified annuaire" >
                    <div class="col-xs-12 col-sm-6 btn-marge"> 
                        <button type="button" class="btn btn-default btn-lg btn-trs">Conserver mon numéro</button>
                    </div>
                    <div class="col-xs-12 col-sm-6 btn-marge" >
                        <button type="button" class="btn btn-default btn-lg btn-trs">Obtenir un nouveau numéro</button>
                    </div>
                </div>
            </div> 

            <div class="form-group row">
                <div class="col-xs-12 col-md-8 col-md-offset-2" >
                    <input type="date" class="form-control" name="DatePortage"  placeholder="Date de portage de ma ligne vers mon nouveau numéro" >
                </div>
            </div> 
         
            <div class="form-group row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <input class="fake-checkbox-input" name="annuaire_universel"  type="checkbox" >
                    Inscription à l'Annuaire Universel Fixe
                </div> 
            </div> 

            <div class="form-group row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <input class="fake-checkbox-input" name="controle_parental"  type="checkbox" >
                    Activation contrôle parentale
                </div> 
            </div>  
        </div>
    </div>

    <!--INSTALLATION-->
    <div class="expand"></div>
    <div class="container">
        
        <div class="marketing">
            <h4>Adresse d'installation</h4>
            <hr />
        </div>

        <div class="col-sm-12">
            <div class="form-group row">
                <div class="col-xs-12 col-md-8 col-md-offset-2" >
                    <input type="text" class="form-control" name="AddInstall"  placeholder="Adresse (Numéro + Voie)" >
                </div>
            </div> 
        </div>
        <div class="form-group row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="col-xs-4 col-sm-4">
                    <input class="form-control type="text" placeholder="Batiment">
                </div>
                <div class="col-xs-4 col-sm-4">
                    <input class="form-control"  type="text" placeholder="Etage">
                </div>
                <div class="col-xs-4 col-sm-4">
                    <input class="form-control"  type="text" placeholder="Escalier">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group row">
                <div class="col-xs-12 col-md-8 col-md-offset-2" >
                    <input type="text" class="form-control" name="ville"  placeholder="Ville" >
                </div>
            </div> 
        </div>

        <div class="col-sm-12">
            <div class="form-group row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <input type="text" class="form-control" name="cp"  placeholder="Code postal" >
                </div>
            </div> 
        </div>

        <div class="col-sm-12">
            <div class="form-group row">
                <div class="col-xs-12 col-md-8 col-md-offset-2" >
                    <input type="text" class="form-control" name="NumberPto"  placeholder="Numéro de prise PTO (Prise de termination optique)" >
                </div>
            </div> 
        </div>
    </div>
</form>




